*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
}

.logo{
    text-decoration: none;
}

.t-h1{
    font-size: 70px;
}

.Pic1{
    border: 2px solid red;
}

.B1{
    
}

aside {
    background: url("../De01/De01_Slider_01.png");
}