*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: justify;
}

body{
    background-color:antiquewhite;
    filter: brightness(0.5);
    background-size: 100%;
}

#container{
    background-image: url("../image/body_9a.png");
    background-size: cover;
    
    width: 90%;
    height: 99vh;
    margin: 2px auto;
}

header{
    ;
    height: 15%;
    width: 100%;
}
header p{
    float: left;
    margin-top:30px ;
    margin-left: 60px;
    color: orange;
    font-weight:900;
    font-size: 25px;
}
header ul li {
    top: 0;
    right: 0;
    font-size: 15px;
    
    list-style-type: none;
    display: inline-block;
    padding: 50px;
    /* margin-top: 35px;
    margin-left:50px ; */
}

header ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
}
header ul li a:hover{
    background-color: #ff854d;
    color: #fff;
    border: 10px solid #ff854d;
    border-radius: 10px;
}
section{
    float: left;
    width: 50%;
    height: 55%;
}

form{
    float: left;    
    /* padding-left: 60; */
    background-color: #fff;
    width: 250px;
    height: 300px;
    text-align: center;
    margin-left: 140px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}
form input{
    width: 150px;
    height: 35px;
    border: 1 solid #a28e8e;
    border-radius: 5px;
    margin-top: 4%;
}
form p{
    text-align: center;
    text-transform: ;
}
form #gui{
    text-align: center;
    background-color: orange;
}

main{
    float: right;
    width: 50%;
    height: 55%;
}
main p{
    font-size: 40px;
    width: 70%;
    height: 20%;
    
}
main ul{
    margin-top: 50px;
}
main ul li{
    display: block;
    width: 75%;
    height: 30%;
    margin: 10px;
}

aside{
    width: 100%;
    height: 25%;
    float: left;
    background-color: #ff854d;
}